{% extends 'base.html' %}

{% block head %}
<title>Blog - Login</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Faça login ou Crie sua Conta</h2>
    <hr>
    <div class="row">
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.email.label(class="form-control-label") }}
                        {{ form_login.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.password.label(class="form-control-label") }}
                        {{ form_login.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_login.remember_data(class="form-check-input") }}
                        {{ form_login.remember_data.label(class="form-check-input-label") }}
                    </div>
                </fieldset>
                {{ form_login.button_submit_login(class="btn btn-primary mt-2") }}
            </form>
        </div>
        <div class="col-6">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ form_criarconta.csrf_token }}
                <legend>Criar Conta</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_criarconta.username.label(class="form-control-label") }}
                        {{ form_criarconta.username(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criarconta.email.label(class="form-control-label") }}
                        {{ form_criarconta.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criarconta.password.label(class="form-control-label") }}
                        {{ form_criarconta.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form_criarconta.confirm_pass.label(class="form-control-label") }}
                        {{ form_criarconta.confirm_pass(class="form-control") }}
                    </div>                
                </fieldset>
                {{ form_criarconta.button_submit_criarconta(class="btn btn-primary mt-2") }}
            </form>

        </div>
    </div>
</div>
{% endblock %}
        
